<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPM Plus Test</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script>ABB_MIA_DEBUG=false</script> <!-- When set to non false value writes debugging output into the Javascript console -->
	<script type="text/javascript" src="../../client.js"></script> <!-- The main Client API script -->	
	<script type="text/javascript">
		"use strict";

	</script>
</head>
<body>
	<div class="jumbotron">

	</div>
	<div id="div1">
	</div>
</body>
</html>