<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPM Plus Test</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script>ABB_MIA_DEBUG=false</script> <!-- When set to non false value writes debugging output into the Javascript console -->
	<script type="text/javascript" src="../../client.js"></script> <!-- The main Client API script -->	
	<script type="text/javascript">
		"use strict";
		var conn;
		function btnClick()
		{
			//alert("Clicked");
			conn = ABB.Mia.GetConnection
			(
				function(c)//connect success
				{
					document.getElementById("m_status").className = "alert alert-success";
					document.getElementById("m_status").innerHTML = "Connecting to " + c.GetConnectionString();		
					var properties = ["Name","Id","Description","Process Path","Current Value","Unit", "Source", "Min", "Max", "Alias"];
					c.FetchClassData("Variable", //Class name
										properties, //Array of properties to be fetched
										-1,         //Fetch maximum here set to -1 (unlimited)
										"Name LIKE ?", //The "where string" contains filtering by the Name and Description properties 
										["*"], //The '?' characters in the where string are replaced with the values in this array
					   function(variabledata) //Callback for the Variable fetch
					   {
							//var variabledata=r.Data;
							var len=variabledata.Data.length;
							var step = properties.length;
							var count = 1;
							//console.log("111111111111111111111111111111111 " + len);
							console.log(variabledata);
							  var str="<table class=\"table table-hover\">";
							  var i, j;
							  str += "<tr>";
							  str += "<th>No.</th>";
							  for(i=0;i<step;i++)
							  {
								str += "<th><strong><i>" + properties[i] + "</i></strong></th>";
							  }
							  str += "</tr>";
							  for(i=0;i<len;i+=step)
							  {
								 str+="<tr>";
								 str += "<td>" + count + "</td>";
								 count += 1;
								 for(j=0;j<step;j++)
								 {
									str+="<td>"+variabledata.Data[i+j] + "</td>";
								 }
								 str+="</tr>";
							  }
							  str+="</table>";
							  document.getElementById("div1").innerHTML=str;
					   }
					);
					
				},
				function(c)//disconnect
				{
					document.getElementById("m_status").className = "alert alert-danger";
					document.getElementById("m_status").innerHTML = "Disconnect:" + c.GetConnectionString();
				}
			);

		}
		
		function btnClickDis()
		{
			if(conn != null)
			{
				conn.Disconnect();
				document.getElementById("m_status").className = "alert alert-danger";
				document.getElementById("m_status").innerHTML = "Disconnect " + conn.GetConnectionString();
				document.getElementById("div1").innerHTML="";
			}
		}
		
		window.onload=function()
		{
			//alert("Page load");
		}
	</script>
</head>
<body>
	<div class="jumbotron">
	  <h1>cpm+ testing</h1>
	  <div class="alert alert-danger" role="alert" id="m_status">Disconnected</div>
		<div class="btn-group btn-group-justified" role="group" aria-label="111">
		  <div class="btn-group" role="group">
			<button type="button" class="btn btn-success" onclick="btnClick()">Connecting</button>
		  </div>
		  <div class="btn-group" role="group">
			<button type="button" class="btn btn-danger" onclick="btnClickDis()">Disconnect</button>
		  </div>
		</div>
	</div>
	<div id="div1">
	</div>
</body>
</html>